.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
  margin-top: 20rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.signup button {
  flex: 0 0 auto; /* Don't let the button grow or shrink */
  padding: 0.5rem 1rem; /* Control the padding for a smaller button */
  font-size: 1.2rem; /* Adjust text size */
}

.orsignup {
  position: relative;
  text-align: center;
  margin: 0.3rem 0;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1; /* Ensure the text is above the lines */
}

.orsignup::before,
.orsignup::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%; /* Adjust to control how long the lines will be */
  border-top: 1px solid #ccc; /* Border color */
  z-index: 0; /* Make sure lines are behind the text */
}

.orsignup::before {
  left: 0;
}

.orsignup::after {
  right: 0;
}
